

 <!--============================================================================================-->
      <!--Footer-->
      <!--============================================================================================-->
  
      <div class="footer">
        <div class="container">
            <nav class="row ">
                <div class="col-6 ">
                    <h4 class="display-6 text-center">Derechos de autor</h4>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet error esse aspernatur alias porro, debitis cupiditate quis tempore fugiat pariatur itaque repellat eligendi consectetur sunt quia reiciendis sed quo?</p>
                </div>
                <ul class="col-6 list-unstyled ">
                    <li class="font-weigth-bold text-uppercase text-center">Enlaces rápidos</li>
                    <li class="d-flex justify-content-around">
                        <a href="https://es-la.facebook.com/" class="btn btn-social-icon btn-outline-facebook "><i class="fab fa-facebook">Facebook</i></a>
                    </li>
                    <li class="d-flex justify-content-around">
                        <a href="https://www.youtube.com/" class="btn btn-social-icon btn-outline-youtube "><i class="fab fa-youtube">Youtube</i></a>
                    </li>
                    <li class="d-flex justify-content-around">
                        <a href="https://www.youtube.com/" class="btn btn-social-icon btn-outline-youtube "> <i class="fab fa-twitter">Twitter</i></a>

                    </li>
                    <li class="d-flex justify-content-around">
                        <a href="https://www.instagram.com/" class="btn btn-social-icon btn-outline-instagram "> <i class="fab fa-instagram">Instagram</i></a>    
                    </li>
  
                </ul>
  
            </nav>
        </div>
        
    </div>
  