<app-menu></app-menu>
<div class="row" id="box-search"> 
    <div class="thumbnail text-center"> 
       <img src="" alt="" class="img-responsive"> 
         <div class="caption"> 
           <p>Sobre Nosotros</p> 
          </div> 
      </div> 
 </div>  


<div class="card" style="width: 30rem; left: 1.9rem;" id="mision">
 <div class="card-body">
   <h5 class="card-title">Misión</h5>
   <p class="card-text">lograr ser una compañía que opera 100% online, atraer cada vez mas personas y lograr ser uno de los sitios web con mejor referencias y mayor eficacia.</p>
 </div>
</div>
<br>
<div class="card" style="width: 30rem; left: 67rem; " id="vision">
 <div class="card-body">
   <h5 class="card-title">Visión</h5>
   <p class="card-text">CrucerosOnline tiene como visión la conexión de personas y navieras dando a conocer los mejores precios y ofertas disponibles, además de esto dar facilidades de reservas y compras desde cualquier parte del mundo. </p>
 </div>
</div>

<div class="row" id="box-search"> 
 <div class="thumbnail text-center"> 
    <img src="" alt="" class="img-responsive"> 
      <div class="caption"> 
        <p>Equipo de Trabajo</p> 
       </div> 
   </div> 
</div>  



<div class="card-deck">
 <div class="card">
   <img src="../../../assets/crucerosonline/sinfoto.jpg" class="card-img-top" alt="...">
   <div class="card-body">
     <h5 class="card-title">Miguel Angel Rios Sanchez</h5>
     <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
   </div>
 </div>
 <div class="card">
   <img src="../../../assets/crucerosonline/sinfoto.jpg" class="card-img-top" alt="...">
   <div class="card-body">
     <h5 class="card-title">Card title</h5>
     <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
   </div>
 </div>
 <div class="card">
   <img src="../../../assets/crucerosonline/sinfoto.jpg" class="card-img-top" alt="...">
   <div class="card-body">
     <h5 class="card-title">Card title</h5>
     <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
   </div>
 </div>
 <div class="card">
   <img src="../../../assets/crucerosonline/sinfoto.jpg" class="card-img-top" alt="...">
   <div class="card-body">
     <h5 class="card-title">Card title</h5>
     <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
   </div>
 </div>
</div>