<app-menu></app-menu>
<div class="container-form" [routerLink]="['/contact']" routerLinkActive="router-link-active" >

    <div class="container-contact">
    
        <input type="text" name="nombre" placeholder="Ingrese tu nombre" class="campo">
        <input type="email" name="email" placeholder="Ingresar tu correo" class="campo">
        <textarea name="mensaje" placeholder="Ingresar tu mensaje" class="campo"></textarea>
        <input type="submit" name="enviar" value="enviar mensaje" class="campo">
    
    </div>
 
    <div class="info-form">
        <h2 class="text-title">Contactanos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat pariatur provident officia minus quae saepe nulla! Quidem est veritatis iste eaque autem, repudiandae accusantium totam cumque ratione culpa unde ex. Omnis officia ipsam nihil aliquam doloribus unde velit corrupti rerum itaque repudiandae aperiam maxime id corporis, delectus voluptatem accusamus distinctio. Adipisci perspiciatis totam corrupti? Iure, dolorem amet culpa delectus, fugit, quos error deserunt commodi unde natus minus dignissimos expedita sunt earum nobis. Deserunt, voluptas enim? At dolores aspernatur delectus minima hic aliquam, ipsum commodi officiis quis minus. Quasi delectus exercitationem voluptatum sequi, at commodi cupiditate autem officia sit excepturi architecto.</p>
        <a href="#"> <i class="fa fa-phone">
        </i>3205585944</a>
        <a href="#"> <i class="fa fa-envelope">
        </i>contactocrucerosonline@gmail.com</a>
        <a href="#"> <i class="fa fa-map-marker">
        </i> Cartagena, Barranquilla, Santa Marta, Colombia</a>
    </div>
   
     

</div>
