
<div class="navbar navbar-expand-sm sticky-top" id="contenedor" >
        
  <div class="container-fluid">
     
      <a class="navbar-brand" href="">
          <img href=""><img src="../../../assets/crucerosonline/Screenshot 2022-07-04 003319.png" alt="" width="200">
      </a>
      <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button> 

      
          
      <div class="logo">
          <h1 class="text-center">Cruceros Online el viaje de tus sueño </h1>
          
      </div>
      

      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav nav-tabs arri">

              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/registro']" routerLinkActive="router-link-active">Registrarse</a>   
              </li>
          
              <li class="nav-item login">
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Iniciar Sesión</a>  
              </li>    
          </ul>
      </div>      
  </div>    
  
  <div class="container-fluid">
      <nav class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto d-flex justify-content-around">
                      
              <li>
                  <a class="navbar-item nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
              </li>
              <li>
                  <a class="navbar-item nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a>                        
              </li>
              <li>
                  <a class="navbar-item nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a>
              </li>       
          </ul>
      
          <div class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </div>
      </nav>
  </div>
</div>






 

